<div class="md-menu" ng-controller="MenuController as ctrl" ng-cloak>

    <md-menu>
        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
            <md-icon md-svg-icon="/assets/img/icons/ic_menu_24px.svg"></md-icon>
        </md-button>
        <md-menu-content width="{{pageSettings.menuContentWidth}}" >
            <md-menu-item ng-repeat="item in pageSettings.menuItems">                
                <md-button ng-click="buttonAction(item.buttonAction)">
                    <md-icon md-svg-icon="{{item.icon.path + item.icon.name}}"></md-icon>
                    {{item.title}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>