<div class="cards-page" ng-controller="CardsController" ng-cloak>
    <div layout="column">
        <div layout="row" ng-repeat="page in listPage.data" ng-if="$index % 3 == 0" class="layout-xs-row-custom">
            <div layout="column"  ng-repeat="i in [$index, $index + 1, $index + 2]" ng-init="item = listPage.data[i]">
                <div ng-if="item" >
                    <md-card>
                        <md-button class="md-icon-button" aria-label="icons[1].label" ng-click="buttonAction(icons[1].func, item, $event);">
                            <img ng-repeat="image in item.images"  ng-src="{{image.path[$index] + image.image[$index]}}" alt="'{{image.alt[$index]}}'">
                        </md-button>
                        <md-card-title>
                            <md-card-title-text>
                                <div ng-repeat="headline in item.headline track by $index" class="md-headline">
                                    {{headline | limitTo:wordsLimit.headline}} 
                                    <span ng-if="wordsLimit.headline <= headline.length">...</span>
                                </div>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <p>
                                {{item.content[0] | limitTo:wordsLimit.content}}
                                <span ng-if="wordsLimit.content <= item.content[0].length">...</span>
                            </p>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <span class="count-likes">{{item.likes}}</span>
                            <md-button ng-repeat="icon in icons" class="md-icon-button" aria-label="{{icon.label}}" ng-click="buttonAction(icon.func, item, $event);">
                                <i class="material-icons {{icon.cssClass}}">{{icon.icon}}</i>
                            </md-button>
                        </md-card-actions>
                    </md-card>
                </div>
            </div>
        </div>   
    </div>
</div>
