.cards-page {
    .md-button.md-icon-button {
            height: inherit;
            width: inherit;
            border-radius: 0;
    }
    .md-icon-button {
        img {
            width: 100%;
        }
    }
}

@media (max-width: 599px) {
    .cards-page {
        .layout-xs-row-custom {
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            flex-direction: column;
        }
    }
    
}