@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src:  url('/assets/fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src:  local('Material Icons'),
            local('MaterialIcons-Regular'),
            url('/assets/fonts/MaterialIcons-Regular.woff2') format('woff2'),
            url('/assets/fonts/MaterialIcons-Regular.woff') format('woff'),
            url('/assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    // line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}


md-content {
    background-color: $app-background-content;
}
md-fab-toolbar.md-right md-fab-trigger.align-with-text {
    left: 7px; 
}

.md-menu-demo {
    padding: 24px; 
}

.menu-demo-container {
    min-height: 200px; 
}

.back-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    // z-index: 100000;
}

.webpage-background {
    background-color: $app-background-content;
}

.red-heart {
    color: $heart-background;
}

.count-likes {
    min-width: 35px;
    height: 35px; 
    background-color: $count-likes-background;
    color: black;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    line-height: 26px;
}
