.md-dialog-custom {
    min-height: 100%;
    min-width: 100%;
}

.md-dialog-blog-headline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.md-dialog-blog-content {
    p:first-child{
        margin-top: 0;
    }    
}