@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("/assets/fonts/MaterialIcons-Regular.woff2") format("woff2"), url("/assets/fonts/MaterialIcons-Regular.woff") format("woff"), url("/assets/fonts/MaterialIcons-Regular.ttf") format("truetype"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

md-content {
  background-color: #f6f6f6; }

md-fab-toolbar.md-right md-fab-trigger.align-with-text {
  left: 7px; }

.md-menu-demo {
  padding: 24px; }

.menu-demo-container {
  min-height: 200px; }

.back-to-top {
  position: fixed;
  bottom: 0;
  right: 0; }

.webpage-background {
  background-color: #f6f6f6; }

.red-heart {
  color: #cc0000; }

.count-likes {
  min-width: 35px;
  height: 35px;
  background-color: #f6f6f6;
  color: black;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  line-height: 26px; }

.about-page .card-media-image img {
  width: 120px;
  height: 120px;
  border-radius: 50%; }

.cards-page .md-button.md-icon-button {
  height: inherit;
  width: inherit;
  border-radius: 0; }
.cards-page .md-icon-button img {
  width: 100%; }

@media (max-width: 599px) {
  .cards-page .layout-xs-row-custom {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    flex-direction: column; } }
.contact-page .autoScroll {
  background-color: white; }

.md-dialog-custom {
  min-height: 100%;
  min-width: 100%; }

.md-dialog-blog-headline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; }

.md-dialog-blog-content p:first-child {
  margin-top: 0; }
