<div class="about-page" ng-controller="AboutController" ng-cloak>
    <div ng-repeat="page in listPage.data">    
        <md-content layout-padding>
            <h1>{{page.title}}</h1>
        </md-content>
        <md-content flex layout layout-align="center">
            <div layout-gt-sm flex flex-gt-sm="60" >
                <div flex>
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{page.subtitle}}</span>
                                <span class="md-subhead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</span>
                            </md-card-title-text>
                            <md-card-title-media ng-repeat="image in page.images">
                                <div class="md-media-lg card-media">
                                    <img ng-src="{{image.path + image.image}}" class="md-card-image" alt="{{image.alt}}">                                    
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-content>
                            <p ng-repeat="paragraph in page.content">
                                {{paragraph}}
                            </p>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <span class="count-likes">{{likes}}</span>
                            <md-button class="md-icon-button" aria-label="Favorite" ng-click="countLikes();">
                                <i class="material-icons {{heart}}">{{icons.icon.favorite}}</i>
                            </md-button>
                        </md-card-actions>
                    </md-card>
                </div>
            </div>
        </md-content>
    </div>
</div>