<div class="contact-page" ng-controller="ContactController" ng-cloak>
    <div ng-repeat="page in listPage.data">    
        <md-content layout-padding>
            <h1>{{page.title}}</h1>
        </md-content>
        <md-content flex layout layout-align="center">
            <div layout-gt-sm flex flex-gt-sm="80" flex-gt-md="60">
                <div flex>
                    <md-card>
                        <form method="post" name="formContact" ng-submit='submitContact(formContact.$valid)' novalidate>                

                            <md-content layout-padding class="md-no-momentum autoScroll">
                                <md-input-container class="md-icon-float md-block" >
                                    <md-icon md-svg-src="{{icons.path + icons.icon.person}}" class="name"></md-icon>
                                    <input ng-model="user.name" type="text" placeholder="Name (required)" ng-required="true">
                                </md-input-container>
                                <md-input-container class="md-icon-float md-block">
                                    <md-icon md-svg-src="{{icons.path + icons.icon.phone}}" class="name"></md-icon>
                                    <input ng-model="user.phone" type="text" placeholder="Phone Number">
                                </md-input-container>
                                <md-input-container class="md-icon-float md-block">
                                    <md-icon md-svg-src="{{icons.path + icons.icon.email}}" class="name"></md-icon>
                                    <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
                                </md-input-container>
                                <md-input-container class="md-icon-float md-block">
                                    <md-icon md-svg-src="{{icons.path + icons.icon.place}}" class="name"></md-icon>
                                    <input ng-model="user.address" type="text" placeholder="Address" >
                                </md-input-container>
                                <md-button class="md-raised md-primary" type="submit" >Submit</md-button>
                            </md-content>
                        </form>
                    </md-card>
                </div>
            </div>
        </md-content>
    </div>
</div>