<md-dialog aria-label="blogContent.title" class="md-dialog-custom">
    <form ng-cloak >
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h1 class="md-display-3">{{blogContent.title}}</h1>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <i class="material-icons">{{icon.name}}</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row" layout-xs="column" layout-padding>
                    <h2 class="md-dialog-blog-headline" ng-repeat="headline in blogContent.headline track by $index">{{headline}}</h2>
                </div>
                <div layout="row" layout-xs="column" layout-padding>
                    <div flex>
                        <img ng-repeat="img in blogContent.images track by $index" alt="{{img.alt}}" ng-src="{{img.path + img.image}}" width="100%">
                    </div>
                    <div flex class="md-dialog-blog-content">
                        <p ng-repeat="content in blogContent.content track by $index">{{content}}</p>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>