<md-content>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <div ng-include="'components/menu/menuView.html'" ng-controller="MenuController"></div>
            <span flex md-truncate>
                <md-icon md-svg-icon="{{pageSettings.logo.path + pageSettings.logo.name}}"></md-icon>
            </span>
            <md-button ui-sref="home" class="md-icon-button" aria-label="Home">
                <md-icon md-svg-icon="{{pageSettings.home.path + pageSettings.home.name}}"></md-icon>
            </md-button>
            <div ng-include="'components/options/optionsView.html'" ng-controller="OptionsController"></div>
        </div>
    </md-toolbar>
</md-content>