<div class="webpage-background" ng-controller="BlogController" ng-cloak>
    <div ng-repeat="page in listPage.data">    
        <md-content layout-padding>
            <h1>{{page.title}}</h1>
        </md-content>
        <md-content flex layout layout-align="center">
            <div layout-gt-sm flex flex-gt-sm="80" flex-gt-md="60">
                <div flex>
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Card with image</span>
                                <span class="md-subhead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-sm card-media">
                                    <img ng-src="/assets/img/{{images.img1}}.jpg" class="md-card-image" alt="Image">                                    
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>Action 1</md-button>
                            <md-button>Action 2</md-button>
                        </md-card-actions>
                    </md-card>

                </div>
                <div flex>
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Card with image</span>
                                <span class="md-subhead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-sm card-media">
                                    <img ng-src="/assets/img/{{images.img3}}.jpg" class="md-card-image" alt="Image">                                    
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>Action 1</md-button>
                            <md-button>Action 2</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
                <div flex>
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Card with image</span>
                                <span class="md-subhead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-sm card-media">
                                    <img ng-src="/assets/img/{{images.img2}}.jpg" class="md-card-image" alt="Image">                                    
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>Action 1</md-button>
                            <md-button>Action 2</md-button>
                        </md-card-actions>
                    </md-card>

                </div>
            </div>
        </md-content>
        <md-content flex layout layout-align="center">
            <div layout-gt-sm flex flex-gt-sm="80" flex-gt-md="60">
                <div flex>
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Card with image</span>
                                <span class="md-subhead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-sm card-media">
                                    <img ng-src="/assets/img/{{images.img4}}.jpg" class="md-card-image" alt="Image">                                    
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>Action 1</md-button>
                            <md-button>Action 2</md-button>
                        </md-card-actions>
                    </md-card>

                </div>
                <div flex>
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Card with image</span>
                                <span class="md-subhead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-sm card-media">
                                    <img ng-src="/assets/img/{{images.img6}}.jpg" class="md-card-image" alt="Image">                                    
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>Action 1</md-button>
                            <md-button>Action 2</md-button>
                        </md-card-actions>
                    </md-card>

                </div>
            </div>
        </md-content>
    </div>
</div>