<div class="md-menu" ng-controller="OptionsController as ctrl" ng-cloak>
    <md-menu>
        <md-button aria-label="Open options menu" class="md-icon-button" ng-click="ctrl.openOptions($mdOpenMenu, $event)">
            <md-icon md-svg-icon="/assets/img/icons/ic_more_vert_24px.svg"></md-icon>
        </md-button>
        <md-menu-content width="{{pageSettings.menuContentWidth}}">
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button ng-click="ctrl.toggleNotifications()">
                    <md-icon md-svg-icon="{{pageSettings.notification.path}}{{ctrl.notificationsEnabled ? pageSettings.notification.off.name : pageSettings.notification.on.name }}"></md-icon>
                    {{ctrl.notificationsEnabled ? pageSettings.notification.off.status : pageSettings.notification.on.status }} {{pageSettings.notification.title}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>